body{
    font-family: cursive;
    font-weight: bolder;
}
#header-nav
{
    border: 0;
    border-radius: 0;
}
@media (min-width:420px)
{
  button{
    visibility: hidden;
  }
}
#bold{
  font-weight: bolder;
  font-size: x-large;
}
.box{
  border: 3px solid black;
  margin: 10px;
  box-sizing: border-box;
  overflow: auto;
}

  h1{
    padding: 20px;
  }

  @media (min-width: 992px)
  {
      .col-lg-4{
          width: 33.33%;
          float: left;
      }
  }
  @media (min-width:768px) and (max-width:991px)
  {
      .col-md-6{
          width: 50%;
          float: left;
      }
      .col-md-12{
          width: 100%;
          float: left;
      }
  }
  @media (max-width:767px)
  {
      .col-sm-12{
          width: 100%;
          float: left;
      }
  }